JEE Dropout After Class 12

Import Library

In [8]:
import pandas as pd

Data Load

In [11]:
jee = pd.read_csv(r'C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\Profit Analysis\JEE Dropout\JEE_Dropout_After_Class_12.csv')

Data Info

In [16]:
jee.head()

,jee_main_score,jee_advanced_score,mock_test_score_avg,school_board,class_12_percent,attempt_count,coaching_institute,daily_study_hours,family_income,parent_education,location_type,peer_pressure_level,mental_health_issues,admission_taken,dropout
0,78.95,59.22,59.86,CBSE,70.09,1,FIITJEE,5.4,Low,Upto 10th,Urban,Low,No,No,1
1,70.06,58.75,64.33,State,78.00,1,FIITJEE,5.5,Mid,Upto 10th,Urban,Low,Yes,No,0
2,81.07,37.27,60.83,ICSE,64.36,1,FIITJEE,7.0,Low,PG,Semi-Urban,Medium,Yes,No,1
3,93.32,60.72,69.33,ICSE,73.21,1,FIITJEE,2.1,Low,12th,Semi-Urban,Medium,Yes,Yes,0
4,68.72,77.73,82.37,CBSE,89.02,1,Allen,6.3,Mid,Graduate,Semi-Urban,High,No,Yes,0

In [18]:
jee.shape

(5000, 15)

In [28]:
jee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   jee_main_score        5000 non-null   float64
 1   jee_advanced_score    5000 non-null   float64
 2   mock_test_score_avg   5000 non-null   float64
 3   school_board          5000 non-null   object
 4   class_12_percent      5000 non-null   float64
 5   attempt_count         5000 non-null   int64
 6   coaching_institute    3791 non-null   object
 7   daily_study_hours     5000 non-null   float64
 8   family_income         5000 non-null   object
 9   parent_education      5000 non-null   object
 10  location_type         5000 non-null   object
 11  peer_pressure_level   5000 non-null   object
 12  mental_health_issues  5000 non-null   object
 13  admission_taken       5000 non-null   object
 14  dropout               5000 non-null   int64
dtypes: float64(5), int64(2), object(8)
memory usage: 586.1+ KB

In [30]:
jee.columns.tolist()

['jee_main_score',
 'jee_advanced_score',
 'mock_test_score_avg',
 'school_board',
 'class_12_percent',
 'attempt_count',
 'coaching_institute',
 'daily_study_hours',
 'family_income',
 'parent_education',
 'location_type',
 'peer_pressure_level',
 'mental_health_issues',
 'admission_taken',
 'dropout']

Data Cleaning

In [46]:
jee.isnull().sum().sort_values(ascending=False)

coaching_institute      1209
jee_main_score             0
jee_advanced_score         0
mock_test_score_avg        0
school_board               0
class_12_percent           0
attempt_count              0
daily_study_hours          0
family_income              0
parent_education           0
location_type              0
peer_pressure_level        0
mental_health_issues       0
admission_taken            0
dropout                    0
dtype: int64

In [67]:
jee['coaching_institute'] = jee['coaching_institute'].str.strip().str.lower()

In [96]:
jee['coaching_institute'] = jee['coaching_institute'].fillna('Unknown')

In [98]:
jee.duplicated().sum()

0

Export Csv

In [101]:
jee.to_csv(r'C:\Users\navee\OneDrive\Desktop\HR ANALYTICS\Profit Analysis\JEE Dropout\JEE_Cleaned_Final.csv', index=False)